src/main/resources/template/converter.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>3a66a67c-018a-1000-a73f-4b3b7c121a2d</groupId>
    <name>converter</name>
    <snippet>
        <processGroups>
            <id>9bc828e6-8cf4-3aaa-0000-000000000000</id>
            <parentGroupId>b5eeb368-861e-3ba7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>9bc828e6-8cf4-3aaa-9784-9ccc84df2f0a</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>0d5b9cfa-dcdc-3ddb-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>0d5b9cfa-dcdc-3ddb-8206-d70201935386</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>93f616c6-82d3-3cb6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>93f616c6-82d3-3cb6-a103-5c1a2a1e0e15</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>b4e4bc89-f52a-34f7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b4e4bc89-f52a-34f7-b5fa-72dd3e310d4b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>104dc5ed-070c-36ad-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>0c3b4bf9-325b-31bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0c3b4bf9-325b-31bc-9cb2-09a3d088f8c8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>05109ddf-1dba-39b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>56917ac8-cbc9-3766-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>56917ac8-cbc9-3766-9059-80a9fdbd2fe0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>b4e4bc89-f52a-34f7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b4e4bc89-f52a-34f7-b5fa-72dd3e310d4b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>58389ff5-c500-33b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>58389ff5-c500-33b2-bae8-f5dd8cac8e1a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5ffa2827-54a3-34c0-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>5ffa2827-54a3-34c0-965c-c4b048974c42</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>0d8fdd3d-67fe-316b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0d8fdd3d-67fe-316b-bba5-da3403554cb8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>93f616c6-82d3-3cb6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>93f616c6-82d3-3cb6-a103-5c1a2a1e0e15</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>74b42643-5df5-39c3-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>05109ddf-1dba-39b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>b460b9c4-5542-3d50-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b460b9c4-5542-3d50-ae9c-930fc2d03a45</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7d2d914c-f8f6-3bc7-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>7d2d914c-f8f6-3bc7-8002-bf1ae9e15056</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>041b26ac-7847-3ddf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>041b26ac-7847-3ddf-a8f2-451b90c1d490</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>0daefe30-68e8-35f4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0daefe30-68e8-35f4-afa9-40136c8ae552</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7f47e340-940c-37e4-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>7f47e340-940c-37e4-944c-b5336b87db14</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>b460b9c4-5542-3d50-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b460b9c4-5542-3d50-ae9c-930fc2d03a45</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>041b26ac-7847-3ddf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>041b26ac-7847-3ddf-a8f2-451b90c1d490</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8e08ecde-0742-35d1-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>8e08ecde-0742-35d1-b093-b042c5d85636</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>58389ff5-c500-33b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>58389ff5-c500-33b2-bae8-f5dd8cac8e1a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>c331c15c-0885-36dd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c331c15c-0885-36dd-a7cd-04b579211481</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bae2752f-59eb-32b0-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>06695179-e00a-34c0-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>06695179-e00a-34c0-9953-b0b762f6ef10</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>0c3b4bf9-325b-31bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0c3b4bf9-325b-31bc-9cb2-09a3d088f8c8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dad3d5a2-8b70-3799-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>dad3d5a2-8b70-3799-aff4-9b28c3419ee8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>0daefe30-68e8-35f4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0daefe30-68e8-35f4-afa9-40136c8ae552</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>0d8fdd3d-67fe-316b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0d8fdd3d-67fe-316b-bba5-da3403554cb8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e89b69d3-3bf2-3ad3-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>e89b69d3-3bf2-3ad3-8c73-dbaaa03cec72</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>1bf05144-6253-31f7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1bf05144-6253-31f7-80a1-54037f5533d6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>0a673137-ee69-3fcc-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>0a673137-ee69-3fcc-ba0f-4d333f2aaa42</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fddf2e90-593d-330d-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <versionedComponentId>fddf2e90-593d-330d-91a1-ef67a1a825f5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>c331c15c-0885-36dd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c331c15c-0885-36dd-a7cd-04b579211481</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9bc828e6-8cf4-3aaa-0000-000000000000</groupId>
                        <id>1bf05144-6253-31f7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1bf05144-6253-31f7-80a1-54037f5533d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>0a673137-ee69-3fcc-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>248.0</x>
                        <y>8.0</y>
                    </position>
                    <versionedComponentId>0a673137-ee69-3fcc-ba0f-4d333f2aaa42</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>convertor input</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>06695179-e00a-34c0-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>2024.0</x>
                        <y>-240.0</y>
                    </position>
                    <versionedComponentId>06695179-e00a-34c0-9953-b0b762f6ef10</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>convertor output</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>041b26ac-7847-3ddf-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1360.0</x>
                        <y>448.0</y>
                    </position>
                    <versionedComponentId>041b26ac-7847-3ddf-a8f2-451b90c1d490</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>
                                    <name>Replacement Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Regular Expression</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Regex Replace</dependentValues>
                                        <dependentValues>Literal Replace</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Regular Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Prepend</dependentValues>
                                        <dependentValues>Regex Replace</dependentValues>
                                        <dependentValues>Always Replace</dependentValues>
                                        <dependentValues>Append</dependentValues>
                                        <dependentValues>Literal Replace</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Replacement Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Text to Prepend</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Surround</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Text to Prepend</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Text to Append</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Surround</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Text to Append</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>
                                    <name>Character Set</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>
                                    <name>Maximum Buffer Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>
                                    <name>Evaluation Mode</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>
                                    <name>Line-by-Line Evaluation Mode</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>Regex Replace</value>
                            </entry>
                            <entry>
                                <key>Regular Expression</key>
                                <value>.*</value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>$1</value>
                            </entry>
                            <entry>
                                <key>Text to Prepend</key>
                            </entry>
                            <entry>
                                <key>Text to Append</key>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>Entire text</value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>All</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertNgsiLdFormat</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>05109ddf-1dba-39b2-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1344.0</x>
                        <y>-48.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Destination</key>
                                <value>
                                    <name>Destination</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>
                                    <name>Return Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>
                                    <name>Path Not Found Behavior</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                            <entry>
                                <key>merge_content</key>
                                <value>
                                    <name>merge_content</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Destination</key>
                                <value>flowfile-attribute</value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>json</value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                            <entry>
                                <key>merge_content</key>
                                <value>$</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SetUpMergeContents</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>0c3b4bf9-325b-31bc-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1344.0</x>
                        <y>-272.0</y>
                    </position>
                    <versionedComponentId>0c3b4bf9-325b-31bc-9cb2-09a3d088f8c8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>
                                    <name>Replacement Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Regular Expression</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Regex Replace</dependentValues>
                                        <dependentValues>Literal Replace</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Regular Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Prepend</dependentValues>
                                        <dependentValues>Regex Replace</dependentValues>
                                        <dependentValues>Always Replace</dependentValues>
                                        <dependentValues>Append</dependentValues>
                                        <dependentValues>Literal Replace</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Replacement Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Text to Prepend</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Surround</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Text to Prepend</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Text to Append</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Surround</dependentValues>
                                        <propertyName>Replacement Strategy</propertyName>
                                    </dependencies>
                                    <name>Text to Append</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>
                                    <name>Character Set</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>
                                    <name>Maximum Buffer Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>
                                    <name>Evaluation Mode</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>
                                    <name>Line-by-Line Evaluation Mode</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>Regex Replace</value>
                            </entry>
                            <entry>
                                <key>Regular Expression</key>
                                <value>.*</value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>
                                    ${init:unescapeJson():append(${merge_content}):append(${end_entity})}</value>
                            </entry>
                            <entry>
                                <key>Text to Prepend</key>
                            </entry>
                            <entry>
                                <key>Text to Append</key>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>Entire text</value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>All</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeNgsiLdFormat</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>0d8fdd3d-67fe-316b-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>768.0</x>
                        <y>696.0</y>
                    </position>
                    <versionedComponentId>0d8fdd3d-67fe-316b-bba5-da3403554cb8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertGeoJsonType</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>0daefe30-68e8-35f4-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1360.0</x>
                        <y>696.0</y>
                    </position>
                    <versionedComponentId>0daefe30-68e8-35f4-afa9-40136c8ae552</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SetNgsiLdString</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>1bf05144-6253-31f7-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>744.0</x>
                        <y>-48.0</y>
                    </position>
                    <versionedComponentId>1bf05144-6253-31f7-80a1-54037f5533d6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Destination</key>
                                <value>
                                    <name>Destination</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>
                                    <name>Return Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>
                                    <name>Path Not Found Behavior</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                            <entry>
                                <key>convert_data</key>
                                <value>
                                    <name>convert_data</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Destination</key>
                                <value>flowfile-attribute</value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>json</value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                            <entry>
                                <key>convert_data</key>
                                <value>$</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SetUpContents</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>58389ff5-c500-33b2-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>224.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>58389ff5-c500-33b2-bae8-f5dd8cac8e1a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertDateType</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>93f616c6-82d3-3cb6-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>760.0</x>
                        <y>440.0</y>
                    </position>
                    <versionedComponentId>93f616c6-82d3-3cb6-a103-5c1a2a1e0e15</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertArrayType</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>b460b9c4-5542-3d50-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1352.0</x>
                        <y>192.0</y>
                    </position>
                    <versionedComponentId>b460b9c4-5542-3d50-ae9c-930fc2d03a45</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Merge Strategy</key>
                                <value>
                                    <name>Merge Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Merge Format</key>
                                <value>
                                    <name>Merge Format</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Attribute Strategy</key>
                                <value>
                                    <name>Attribute Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Correlation Attribute Name</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Correlation Attribute Name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>mergecontent-metadata-strategy</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Avro</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>mergecontent-metadata-strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Minimum Number of Entries</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Minimum Number of Entries</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Number of Entries</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Maximum Number of Entries</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Minimum Group Size</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Minimum Group Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Group Size</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Maximum Group Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Max Bin Age</key>
                                <value>
                                    <name>Max Bin Age</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum number of Bins</key>
                                <value>
                                    <name>Maximum number of Bins</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Delimiter Strategy</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Delimiter Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Header File</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Filename</dependentValues>
                                        <dependentValues>Text</dependentValues>
                                        <propertyName>Delimiter Strategy</propertyName>
                                    </dependencies>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Header File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Footer File</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Filename</dependentValues>
                                        <dependentValues>Text</dependentValues>
                                        <propertyName>Delimiter Strategy</propertyName>
                                    </dependencies>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Footer File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Demarcator File</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Filename</dependentValues>
                                        <dependentValues>Text</dependentValues>
                                        <propertyName>Delimiter Strategy</propertyName>
                                    </dependencies>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Demarcator File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Compression Level</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>ZIP</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Compression Level</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Keep Path</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>ZIP</dependentValues>
                                        <dependentValues>TAR</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Keep Path</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Tar Modified Time</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>TAR</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Tar Modified Time</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Merge Strategy</key>
                                <value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
                                <key>Merge Format</key>
                                <value>Binary Concatenation</value>
                            </entry>
                            <entry>
                                <key>Attribute Strategy</key>
                                <value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
                                <key>Correlation Attribute Name</key>
                                <value>merge_con</value>
                            </entry>
                            <entry>
                                <key>mergecontent-metadata-strategy</key>
                                <value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
                                <key>Minimum Number of Entries</key>
                                <value>5</value>
                            </entry>
                            <entry>
                                <key>Maximum Number of Entries</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>Minimum Group Size</key>
                                <value>0 B</value>
                            </entry>
                            <entry>
                                <key>Maximum Group Size</key>
                            </entry>
                            <entry>
                                <key>Max Bin Age</key>
                                <value>1 sec</value>
                            </entry>
                            <entry>
                                <key>Maximum number of Bins</key>
                                <value>50</value>
                            </entry>
                            <entry>
                                <key>Delimiter Strategy</key>
                                <value>Text</value>
                            </entry>
                            <entry>
                                <key>Header File</key>
                                <value>[</value>
                            </entry>
                            <entry>
                                <key>Footer File</key>
                                <value>]</value>
                            </entry>
                            <entry>
                                <key>Demarcator File</key>
                                <value>,</value>
                            </entry>
                            <entry>
                                <key>Compression Level</key>
                                <value>1</value>
                            </entry>
                            <entry>
                                <key>Keep Path</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>Tar Modified Time</key>
                                <value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>b4e4bc89-f52a-34f7-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>232.0</x>
                        <y>448.0</y>
                    </position>
                    <versionedComponentId>b4e4bc89-f52a-34f7-b5fa-72dd3e310d4b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertObjectType</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>c331c15c-0885-36dd-0000-000000000000</id>
                    <parentGroupId>9bc828e6-8cf4-3aaa-0000-000000000000</parentGroupId>
                    <position>
                        <x>752.0</x>
                        <y>200.0</y>
                    </position>
                    <versionedComponentId>c331c15c-0885-36dd-a7cd-04b579211481</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Destination</key>
                                <value>
                                    <name>Destination</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>
                                    <name>Return Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>
                                    <name>Path Not Found Behavior</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Destination</key>
                                <value>flowfile-attribute</value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>auto-detect</value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractDataSetProps</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Convertor</name>
            <variables />
        </processGroups>
    </snippet>
    <timestamp>11/27/2023 13:29:03 KST</timestamp>
</template>