src/main/resources/template/converter.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8c264f86-0183-1000-a82f-c30fe98ebf25</groupId>
    <name>converter</name>
    <snippet>
        <processGroups>
            <id>cd96a3f0-f6a4-30b3-0000-000000000000</id>
            <parentGroupId>3269b5d2-4bf4-3e33-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0d1bbfd6-7dd0-3807-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>090585ee-4e64-3c88-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>61e6fb33-a06c-30df-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>145c7aaf-b16e-3a42-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>77e3af55-7f22-3133-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>090585ee-4e64-3c88-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2267af03-9ab1-3630-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>2e26ffa6-c706-3e15-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>77e3af55-7f22-3133-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5348527d-2e39-343c-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>a3997f88-6bc8-36a4-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>2e26ffa6-c706-3e15-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c9194c15-b858-3b1f-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>61e6fb33-a06c-30df-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cd96a3f0-f6a4-30b3-0000-000000000000</groupId>
                        <id>dd72598b-6cc0-3f9b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>dd72598b-6cc0-3f9b-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>306.00001009037265</x>
                        <y>256.99994397911314</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>convertor input</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>a3997f88-6bc8-36a4-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>2104.0</x>
                        <y>248.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>convertor output</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>090585ee-4e64-3c88-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>752.0</x>
                        <y>488.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>timestamp</key>
                                <value>
                                    <name>timestamp</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>timestamp</key>
                                <value>${timestamp:toDate("yyyyMMddHHmm"):format("yyyy-MM-dd'T'HH:mm:ssXXX", "GMT")}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertDateType</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>2e26ffa6-c706-3e15-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1352.0</x>
                        <y>200.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>jolt-transform</key>
                                <value>
                                    <name>jolt-transform</name>
                                </value>
                            </entry>
                            <entry>
                                <key>jolt-custom-class</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>jolt-transform-custom</dependentValues>
                                        <propertyName>jolt-spec</propertyName>
                                    </dependencies>
                                    <name>jolt-custom-class</name>
                                </value>
                            </entry>
                            <entry>
                                <key>jolt-custom-modules</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>jolt-transform-custom</dependentValues>
                                        <propertyName>jolt-spec</propertyName>
                                    </dependencies>
                                    <name>jolt-custom-modules</name>
                                </value>
                            </entry>
                            <entry>
                                <key>jolt-spec</key>
                                <value>
                                    <name>jolt-spec</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Transform Cache Size</key>
                                <value>
                                    <name>Transform Cache Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>pretty_print</key>
                                <value>
                                    <name>pretty_print</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>jolt-transform</key>
                                <value>jolt-transform-chain</value>
                            </entry>
                            <entry>
                                <key>jolt-custom-class</key>
                            </entry>
                            <entry>
                                <key>jolt-custom-modules</key>
                            </entry>
                            <entry>
                                <key>jolt-spec</key>
                                <value>[{"operation":"modify-overwrite-beta","spec":{"entities":{"*":{"value":{"value":"=toInteger"}}}}}]</value>
                            </entry>
                            <entry>
                                <key>Transform Cache Size</key>
                                <value>1</value>
                            </entry>
                            <entry>
                                <key>pretty_print</key>
                                <value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertValueType</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>61e6fb33-a06c-30df-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>752.0</x>
                        <y>200.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Destination</key>
                                <value>
                                    <name>Destination</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>
                                    <name>Return Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>
                                    <name>Path Not Found Behavior</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                            <entry>
                                <key>locationId</key>
                                <value>
                                    <name>locationId</name>
                                </value>
                            </entry>
                            <entry>
                                <key>timestamp</key>
                                <value>
                                    <name>timestamp</name>
                                </value>
                            </entry>
                            <entry>
                                <key>title</key>
                                <value>
                                    <name>title</name>
                                </value>
                            </entry>
                            <entry>
                                <key>value</key>
                                <value>
                                    <name>value</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Destination</key>
                                <value>flowfile-attribute</value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>auto-detect</value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                            <entry>
                                <key>locationId</key>
                                <value>$.stnId</value>
                            </entry>
                            <entry>
                                <key>timestamp</key>
                                <value>$.tmFc</value>
                            </entry>
                            <entry>
                                <key>title</key>
                                <value>$.title</value>
                            </entry>
                            <entry>
                                <key>value</key>
                                <value>$.tmSeq</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>DataSetProps</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>77e3af55-7f22-3133-0000-000000000000</id>
                    <parentGroupId>cd96a3f0-f6a4-30b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1360.0</x>
                        <y>472.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Regular Expression</key>
                                <value>
                                    <name>Regular Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>
                                    <name>Replacement Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>
                                    <name>Character Set</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>
                                    <name>Maximum Buffer Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>
                                    <name>Replacement Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>
                                    <name>Evaluation Mode</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>
                                    <name>Line-by-Line Evaluation Mode</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Regular Expression</key>
                                <value>.*</value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>{"datasetId":"weatherDataSet","entities":[{"locationId":{"observedAt":"${observedAt}","type":"Relationship","object":"${locationId}"},"id":"urn:datahub:weatherData:${locationId}:","type":"weatherData","title":{"observedAt":"${observedAt}","type":"Property","value":"${title}"},"@context":["http://110.45.181.71:38081/WeatherData.jsonld"],"value":{"observedAt":"${observedAt}","type":"Property","value":"${value}"},"timestamp":{"observedAt":"${observedAt}","type":"Property","value":"${timestamp}"}}]}</value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>Regex Replace</value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>Entire text</value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>All</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>NGSI-LD Fommater</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Convertor</name>
            <variables />
        </processGroups>
    </snippet>
    <timestamp>09/30/2022 13:40:34 KST</timestamp>
</template>