src/main/resources/template/filter.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ddeb747b-0188-1000-8910-b2753c8b2a35</groupId>
    <name>filter</name>
    <snippet>
        <processGroups>
            <id>f99f59e2-c9b2-3d14-0000-000000000000</id>
            <parentGroupId>4dd7fb91-efd6-3d1c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>02f3471a-047b-3851-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>38301c12-ad88-3a44-9fdd-6e585e26d4a6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>a455b285-46cd-3ce6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>6890cb1a-8f2b-3463-8944-63cb43fcf166</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>7671c486-7a99-309a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7f8fd67d-91bc-311b-91f3-f76147a3b295</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0fa23440-2afa-3d90-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>42a64ff1-f334-3045-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>23187e07-14b8-3efa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3df8469c-b7c2-3fa2-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>a5d0aea5-5c0b-3b54-8626-a8eeea021d46</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>19833c51-617f-391b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf03ecb-a887-3fd7-80de-a38eea83d2cf</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>13322afb-d736-3121-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>e914e3c3-5878-3c57-b08f-98289a3ff5aa</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4da979c5-c341-334f-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>23187e07-14b8-3efa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>2324b0cc-7d07-39d0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>57731c13-668b-34f0-a5b1-173577c9c2d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5055571f-7e0b-3e89-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>b0ca03fd-ec8c-3355-bb23-f22348b63102</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>80fcbbcc-5525-3007-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fce733fb-b009-399a-b3ca-6b141ca9cb40</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>098e3518-6d65-3793-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c2a3909e-8193-3419-adf4-7b2763c50419</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>53af77f4-a974-3a16-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>08b7e6ba-9982-3c40-92ac-4944a9fbbb52</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>6316db61-4e7f-30ae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac1ca91e-9603-3450-8d09-b8e1350ef9b5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>19833c51-617f-391b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf03ecb-a887-3fd7-80de-a38eea83d2cf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5411a97d-1b03-3d3e-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>dde769d5-84ce-3c56-b019-c556a88753b1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>42a64ff1-f334-3045-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>isRootKeyEmpty</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>80fcbbcc-5525-3007-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fce733fb-b009-399a-b3ca-6b141ca9cb40</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>66e6d147-7a57-3e63-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>2f2e80f8-d009-372c-b580-c189349df8f1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>2324b0cc-7d07-39d0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>57731c13-668b-34f0-a5b1-173577c9c2d6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>dab39474-7594-3444-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eb39fc0d-461f-33c5-83f7-f6be7bc5d46f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>69f98714-3e84-3788-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>a455b285-46cd-3ce6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>6890cb1a-8f2b-3463-8944-63cb43fcf166</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>42a64ff1-f334-3045-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>73d3fd52-a4b4-3b5a-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>ccdde238-3902-3093-a73f-ecf7bb884c3e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>d6fc50ab-5da5-3022-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8d1acdd0-94d8-3aed-b9e7-20bbe0533925</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>isBase64</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>6316db61-4e7f-30ae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac1ca91e-9603-3450-8d09-b8e1350ef9b5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ac47552f-96c8-3d9d-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>7ae3d12d-1f88-3c91-8cda-5572ae52b899</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2224.0</x>
                        <y>896.0</y>
                    </bends>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>a455b285-46cd-3ce6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>6890cb1a-8f2b-3463-8944-63cb43fcf166</versionedComponentId>
                    </destination>
                    <flowFileExpiration>7 days</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>7671c486-7a99-309a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7f8fd67d-91bc-311b-91f3-f76147a3b295</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>af358711-6a1b-39d6-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>df606341-4d38-3016-b0b0-e10a2572f63a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1136.0</x>
                        <y>648.0</y>
                    </bends>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>76fe2955-cddc-3635-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1c8e2ebb-9a80-32f8-a398-11abb3c63f65</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>d6fc50ab-5da5-3022-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8d1acdd0-94d8-3aed-b9e7-20bbe0533925</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c4137581-5f37-3024-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>a004628b-e9fd-3572-a78c-a5283c324406</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>dab39474-7594-3444-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eb39fc0d-461f-33c5-83f7-f6be7bc5d46f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>80fcbbcc-5525-3007-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fce733fb-b009-399a-b3ca-6b141ca9cb40</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e3b7ccf8-3ab3-32db-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>14c0f50e-a22c-302a-8c95-c4150455070a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>098e3518-6d65-3793-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c2a3909e-8193-3419-adf4-7b2763c50419</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>76fe2955-cddc-3635-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1c8e2ebb-9a80-32f8-a398-11abb3c63f65</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ebad8f8c-cf0f-3a77-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>7671c486-7a99-309a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7f8fd67d-91bc-311b-91f3-f76147a3b295</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>isArray</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>42a64ff1-f334-3045-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fd8198db-1d80-32c8-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <versionedComponentId>618c0c5d-c1aa-3b96-8127-da908edfc3b9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>76fe2955-cddc-3635-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1c8e2ebb-9a80-32f8-a398-11abb3c63f65</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>f99f59e2-c9b2-3d14-0000-000000000000</groupId>
                        <id>6316db61-4e7f-30ae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac1ca91e-9603-3450-8d09-b8e1350ef9b5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>13322afb-d736-3121-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>704.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>e914e3c3-5878-3c57-b08f-98289a3ff5aa</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>filter input</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                    <validationErrors>'Port 'filter input'' is invalid because Port has no incoming
                        connections</validationErrors>
                </inputPorts>
                <labels>
                    <id>014c8384-4d94-3678-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>1272.0</x>
                        <y>304.0</y>
                    </position>
                    <versionedComponentId>8eb85e2f-13f0-3163-96c3-e5b57c2a99ce</versionedComponentId>
                    <height>152.0</height>
                    <label>base64 분기</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>224.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>69bc63e9-bb14-344f-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>664.0</x>
                        <y>296.0</y>
                    </position>
                    <versionedComponentId>95025cf6-f88b-3499-924b-71d03fd93e9f</versionedComponentId>
                    <height>152.0</height>
                    <label>base64 flag, message root</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>224.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <outputPorts>
                    <id>a455b285-46cd-3ce6-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>2184.0</x>
                        <y>1056.0</y>
                    </position>
                    <versionedComponentId>6890cb1a-8f2b-3463-8944-63cb43fcf166</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>filter output</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'filter output'' is invalid because Port has no outgoing
                        connections</validationErrors>
                </outputPorts>
                <processors>
                    <id>098e3518-6d65-3793-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>647.4435729980469</x>
                        <y>800.0</y>
                    </position>
                    <versionedComponentId>c2a3909e-8193-3419-adf4-7b2763c50419</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Destination</key>
                                <value>
                                    <name>Destination</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>
                                    <name>Return Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>
                                    <name>Path Not Found Behavior</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                            <entry>
                                <key>raw_data</key>
                                <value>
                                    <name>raw_data</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Destination</key>
                                <value>flowfile-attribute</value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>json</value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                            <entry>
                                <key>raw_data</key>
                                <value>$</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>19833c51-617f-391b-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>647.4435729980469</x>
                        <y>328.0</y>
                    </position>
                    <versionedComponentId>ddf03ecb-a887-3fd7-80de-a38eea83d2cf</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>isBase64</key>
                                <value>
                                    <name>isBase64</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>isBase64</key>
                                <value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Base64Decoder</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>23187e07-14b8-3efa-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>1288.0</x>
                        <y>1304.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>filtered_data</key>
                                <value>
                                    <name>filtered_data</name>
                                </value>
                            </entry>
                            <entry>
                                <key>raw_data</key>
                                <value>
                                    <name>raw_data</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>filtered_data</key>
                                <value>${literal("")}</value>
                            </entry>
                            <entry>
                                <key>raw_data</key>
                                <value>${literal("")}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ClearAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>2324b0cc-7d07-39d0-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>952.0</x>
                        <y>1608.0</y>
                    </position>
                    <versionedComponentId>57731c13-668b-34f0-a5b1-173577c9c2d6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Regular Expression</key>
                                <value>
                                    <name>Regular Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>
                                    <name>Replacement Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>
                                    <name>Character Set</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>
                                    <name>Maximum Buffer Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>
                                    <name>Replacement Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>
                                    <name>Evaluation Mode</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>
                                    <name>Line-by-Line Evaluation Mode</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Regular Expression</key>
                                <value>.*</value>
                            </entry>
                            <entry>
                                <key>Replacement Value</key>
                                <value>${filtered_data}</value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>Maximum Buffer Size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>Replacement Strategy</key>
                                <value>Regex Replace</value>
                            </entry>
                            <entry>
                                <key>Evaluation Mode</key>
                                <value>Entire text</value>
                            </entry>
                            <entry>
                                <key>Line-by-Line Evaluation Mode</key>
                                <value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>42a64ff1-f334-3045-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>1288.0</x>
                        <y>1016.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Match Requirement</key>
                                <value>
                                    <name>Match Requirement</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>
                                    <name>Character Set</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Content Buffer Size</key>
                                <value>
                                    <name>Content Buffer Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>isArray</key>
                                <value>
                                    <name>isArray</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Match Requirement</key>
                                <value>content must contain match</value>
                            </entry>
                            <entry>
                                <key>Character Set</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>Content Buffer Size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>isArray</key>
                                <value>^\s*\[\s*[\n\s]*\{\s*[\"]</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnContent</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isArray</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                </processors>
                <processors>
                    <id>6316db61-4e7f-30ae-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>1288.0</x>
                        <y>328.0</y>
                    </position>
                    <versionedComponentId>ac1ca91e-9603-3450-8d09-b8e1350ef9b5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Routing Strategy</key>
                                <value>
                                    <name>Routing Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>isBase64</key>
                                <value>
                                    <name>isBase64</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Routing Strategy</key>
                                <value>Route to Property name</value>
                            </entry>
                            <entry>
                                <key>isBase64</key>
                                <value>${isBase64:equals('true')}</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isBase64</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>7671c486-7a99-309a-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>1728.0</x>
                        <y>792.0</y>
                    </position>
                    <versionedComponentId>7f8fd67d-91bc-311b-91f3-f76147a3b295</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>JsonPath Expression</key>
                                <value>
                                    <name>JsonPath Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>JsonPath Expression</key>
                                <value>$</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>76fe2955-cddc-3635-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>648.0</x>
                        <y>584.0</y>
                    </position>
                    <versionedComponentId>1c8e2ebb-9a80-32f8-a398-11abb3c63f65</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>root_key</key>
                                <value>
                                    <name>root_key</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>root_key</key>
                                <value>content</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RootKeyFinder</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>80fcbbcc-5525-3007-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>647.4435729980469</x>
                        <y>1016.0</y>
                    </position>
                    <versionedComponentId>fce733fb-b009-399a-b3ca-6b141ca9cb40</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Routing Strategy</key>
                                <value>
                                    <name>Routing Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>isRootKeyEmpty</key>
                                <value>
                                    <name>isRootKeyEmpty</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Routing Strategy</key>
                                <value>Route to Property name</value>
                            </entry>
                            <entry>
                                <key>isRootKeyEmpty</key>
                                <value>${root_key:equals(' ')}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isRootKeyEmpty</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>d6fc50ab-5da5-3022-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>1288.0</x>
                        <y>584.0</y>
                    </position>
                    <versionedComponentId>8d1acdd0-94d8-3aed-b9e7-20bbe0533925</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Mode</key>
                                <value>
                                    <name>Mode</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Mode</key>
                                <value>Decode</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Base64EncodeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.standard.Base64EncodeContent</type>
                </processors>
                <processors>
                    <id>dab39474-7594-3444-0000-000000000000</id>
                    <parentGroupId>f99f59e2-c9b2-3d14-0000-000000000000</parentGroupId>
                    <position>
                        <x>648.0</x>
                        <y>1296.0</y>
                    </position>
                    <versionedComponentId>eb39fc0d-461f-33c5-83f7-f6be7bc5d46f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Delete Attributes Expression</key>
                                <value>
                                    <name>Delete Attributes Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>
                                    <name>Store State</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                                <value>
                                    <name>Stateful Variables Initial Value</name>
                                </value>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>
                                    <name>canonical-value-lookup-cache-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>filtered_data</key>
                                <value>
                                    <name>filtered_data</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
                                <key>Store State</key>
                                <value>Do not store state</value>
                            </entry>
                            <entry>
                                <key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
                                <key>canonical-value-lookup-cache-size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>filtered_data</key>
                                <value>${raw_data:jsonPath('$.${root_key}')}</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RootKeyFilter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style />
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Filter List</name>
            <variables />
        </processGroups>
    </snippet>
    <timestamp>08/04/2023 10:43:43 KST</timestamp>
</template>