src/test/resources/template/MySQL_Database.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>5f12cbaa-0183-1000-3e36-876da5e04d50</groupId>
    <name>MySQL Database</name>
    <snippet>
        <processGroups>
            <id>fcef3ce1-1c79-3b83-0000-000000000000</id>
            <parentGroupId>74f33bb0-84ca-31ed-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2cef451f-6cd9-3359-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>21e90d8b-ad6a-3a07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>fd0a3333-9f87-3994-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3f774d18-0815-3419-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>b2eb0d7d-62eb-37d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>isXML</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>21e90d8b-ad6a-3a07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>72f6a6fa-c615-35d3-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>709d0334-0343-33d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>b2eb0d7d-62eb-37d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>88fb3970-c987-3ace-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>4a5c66ad-6879-355f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>isJson</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>21e90d8b-ad6a-3a07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a9ebd6f1-0334-3574-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>c3b89c99-c2cf-3d79-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>isAvro</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>21e90d8b-ad6a-3a07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dd7867db-70aa-3638-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>4a5c66ad-6879-355f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>709d0334-0343-33d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>de5ad90c-cab8-3e98-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>709d0334-0343-33d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>c3b89c99-c2cf-3d79-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e367dc34-a9a3-37d5-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>739a038d-1e01-3b22-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>fcef3ce1-1c79-3b83-0000-000000000000</groupId>
                        <id>21e90d8b-ad6a-3a07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>a1c9673d-262a-3708-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AvroReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>embedded-avro-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroReader</type>
                </controllerServices>
                <controllerServices>
                    <id>d9f766bc-43c9-3947-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>dc8c8ee7-840f-3b47-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:mysql://110.45.181.70:3306/mydata</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>com.mysql.jdbc.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/opt/nifi/nifi-current</value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>root</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>ee4a5d22-1d00-3f07-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>parse_xml_attributes</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>parse_xml_attributes</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>record_format</key>
                            <value>
<name>record_format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>attribute_prefix</key>
                            <value>
<name>attribute_prefix</name>
                            </value>
                        </entry>
                        <entry>
                            <key>content_field_name</key>
                            <value>
<name>content_field_name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>XMLReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>parse_xml_attributes</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>record_format</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>attribute_prefix</key>
                        </entry>
                        <entry>
                            <key>content_field_name</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.xml.XMLReader</type>
                </controllerServices>
                <outputPorts>
                    <id>4a5c66ad-6879-355f-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <position>
                        <x>2976.0</x>
                        <y>360.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Collector Output</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'Collector Output'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <processors>
                    <id>21e90d8b-ad6a-3a07-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <position>
                        <x>1288.0</x>
                        <y>328.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>isAvro</key>
<value>
    <name>isAvro</name>
</value>
                            </entry>
                            <entry>
<key>isJson</key>
<value>
    <name>isJson</name>
</value>
                            </entry>
                            <entry>
<key>isXML</key>
<value>
    <name>isXML</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>isAvro</key>
<value>${mime.type:contains('avro')}</value>
                            </entry>
                            <entry>
<key>isJson</key>
<value>${Content-Type:contains('json')}</value>
                            </entry>
                            <entry>
<key>isXML</key>
<value>${Content-Type:contains('xml')}</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertXML</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isAvro</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isJson</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isXML</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>709d0334-0343-33d7-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <position>
                        <x>1832.0</x>
                        <y>328.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>739a038d-1e01-3b22-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <position>
                        <x>968.0</x>
                        <y>608.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>REST Server Collector Error : </value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Content-Type is ${Content-Type}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ErrorMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>b2eb0d7d-62eb-37d7-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <position>
                        <x>1600.0</x>
                        <y>104.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>ee4a5d22-1d00-3f07-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>d9f766bc-43c9-3947-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>c3b89c99-c2cf-3d79-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <position>
                        <x>1600.0</x>
                        <y>568.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>a1c9673d-262a-3708-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>d9f766bc-43c9-3947-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>fd0a3333-9f87-3994-0000-000000000000</id>
                    <parentGroupId>fcef3ce1-1c79-3b83-0000-000000000000</parentGroupId>
                    <position>
                        <x>656.0</x>
                        <y>328.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>dc8c8ee7-840f-3b47-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT * FROM mytest</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>MySQL Database</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/22/2022 14:19:36 KST</timestamp>
</template>
